<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ng-href="#" ng-bind="vm.title"></a>
        </div>
        <ul class="nav navbar-nav">
            <li ng-class="{'active':vm.selectedTab=='home'}" ng-click="vm.setSelectedTab('home')"><a ui-sref="home">Home</a></li>
            <li ng-class="{'active':vm.selectedTab=='about'}" ng-click="vm.setSelectedTab('about')"><a ui-sref="about">About us</a></li>
        </ul>
    </div>
</nav>
